blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 14px;
    border-left: 5px solid #eee;
}

h1 {
color: rgb(0,71,133);
}

h2 {
color: rgb(0,71,133);
}

h3 {
color: rgb(79,129,189);
}

h4 {
color: rgb(64,177,204);
}

div.example { 
background-color : rgb(222,235,247); border-radius: 10px; padding: 10px; border-style: solid;
border-color: rgb(31,72,124);
}

/* links */
a { color: #5ebccf; }

a:hover { color: #50a0b0; /* darker color when hovering */ }

div.dashboard {
  max-width: 100% !important;
  max-height: 100% !important;
}

div.dashboard iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

.Keats {
    font-family: "Times New Roman", Times, Serif;
    font-style: italic;
    font-size: 14;
    margin-left: 30px;
} 

.accordion {
  background-color: rgb(79,129,189);
  color: rgb(222,235,247);
  cursor: arrow;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  transition: 0.4s;
  margin-bottom: 30px;
}

.active, .accordion:hover {
  background-color: rgb(0,71,133);
}

.accordion:after {
  content: '\002B'; 
  color: rgb(222,235,247);
  font-weight: bold;
  float: right;
  margin-left: 7px;
}

.active:after {
  content: "\2212";  
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 18px;
}

:root {
    --color-primary: #4C979F;
    --color-border: #ccc;
    --color-text: #424949;
    --color-code-bg: #f4f6f6;
    --color-code-inline: #5d6d7e;
    --color-boxy-bg: #fbfcfc;
    --color-shadow: #E0E0E0;
    --color-optional: #bf6300;
    --font-base: 'Source Sans Pro';
    --font-highlight: 'Source Sans Pro';
    --font-code: 'Ubuntu Mono';
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.boxy {
    /* border: 1px solid var(--color-primary); */
    background-color: var(--color-boxy-bg);
    border: 1px solid var(--color-border);
    border-left: 6px solid var(--color-border);
    border-radius: 0px 4px 4px 0px;
    padding: 10px 10px 0px 10px;
    margin: 10px 0px 10px 0px;
    position: relative;
}

.boxy-primary {
    color: #3c787f;
    background-color: #edf4f5;
    border-color: #c9dfe2;
    border-left-color: #3c787f;
}

.boxy-primary::before {
    background-color: #3c787f !important;
}
.boxy::before {
    background-color: var(--color-border) !important;
}

.boxy-orange::before {
    background-color: #bf6300 !important;
}
.boxy::before {
    background-color: var(--color-border) !important;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.boxy-success::before {
    background-color: #3c763d !important;
}
.boxy::before {
    background-color: var(--color-border) !important;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.boxy-warning::before {
    background-color: #8a6d3b !important;
}
.boxy::before {
    background-color: var(--color-border) !important;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.boxy-danger::before {
    background-color: #a94442 !important;
}
.boxy::before {
    background-color: var(--color-border) !important;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.boxy-info::before {
    background-color: #31708f !important;
}
.boxy::before {
    background-color: var(--color-border) !important;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
<style>
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
</style>
*/

/*
<style>
.dashboard {
  max-width: 1800px !important;
  max-height: 1800px !important;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

<style>
.dashboard iframe {
  width: 100% !important;
  height: 100% !important;
  border: none;
}
</style>
*/